main{
		border: 2px solid green;
		height: 500px;
		display: block;
		
	}
	
	
	.flex-container{
		margin: auto;
		width: 500px;
		border:2px dashed purple;
		background-color: white;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		text-align: center;
		
	}
	.flex-container > div{
		margin: 20px;
		padding: 30px;
		background-color: pink;
		border: 1px solid red;
		font-size: 30px;
		color: blue;
	}